MONGODB_URI=mongodb://localhost:27017/bitrain
#MONGODB_URI=mongodb://heroku_pwk0snpr:o3incsvej86s59j8nso630njce@ds117859.mlab.com:17859/heroku_pwk0snpr

SESSION_SECRET=EHUpw33sKWvLH2ZMReGRS7YxRJeY2e

SENDGRID_USER=bitcoinsmtp
SENDGRID_PASSWORD=056761092M!@#

EMAIL_FROM=Bitrain <admin@bitrain.info>
EMAIL_ALERT=Bitrain Alert <support@bitrain.info>

FACEBOOK_ID=754220301289665
FACEBOOK_SECRET=41860e58c256a3d7ad8267d3c1939a4a

GOOGLE_ID=828110519058.apps.googleusercontent.com
GOOGLE_SECRET=JdZsIaWhUFIchmC1a_IZzOHb

GG_CAPCHA_DATA_SITE_KEY=6Lfu7BAUAAAAAOPTS-KPHaBqawsaAV3vdhzTnE2s
GG_CAPCHA_SECRET=6Lfu7BAUAAAAAOG0_y5R1mit3VNlftJw_faTWicf
ADMIN_WALLET_ID=1AzE6BndjicsWu3wFrcVyCcAcLAnipjUty